{{ partial "header" . }}
{{ partial "nav" . }}

{{ "<!-- Main -->" | safeHTML }}
  <section id="main" class="container">
    <header>
      <h2>{{ if .Draft }}DRAFT: {{end}}{{ .Params.title }}</h2>
      {{ with .Params.subtitle }}<p>{{ . }}</p>{{ end }}
    </header>

    {{ if .Params.ScheduleList.enable }}
      {{ partial "schedule-list" . }}
    {{ end }}

    {{ if .Params.Directions.enable }}
      {{ partial "directions" . }}
    {{ end }}
    
  </section>

{{ partialCached "footer" . }}
{{ partial "scripts" . }}
