<section class="box">
  <header class="major">
    <h1>{{ .Params.Bands.title }}</h1>
    <h3>{{ .Params.Bands.subtitle }}</h3>
  </header>
  <ul class="alt">
  {{ $filterTag := slice .Params.Bands.tag }}
  {{ range $i, $page := (where .Pages "Params.tags" "intersect" $filterTag).ByParam "order" }}
    <li>
      <h2 class="align-center">
        <a href="{{ .Permalink }}">
          {{ $page.Title }}
        </a>
      </h2>
      <img class="constrained" src="{{(index .Params.images 0)}}" />
      <p>{{ .Summary | plainify | safeHTML }}</p>
      {{ if .Truncated }}
        <a class="button small alt" href="{{ .Permalink }}" >
            Read more <i class="fas fa-angle-double-right"></i>
        </a>
      {{ end }} {{/* if */}}
    </li>
  {{ end }}
  </ul>
</section>
