<section id="banner">
  <h3>{{ .Params.Banner.hook }}</h3>
  <h2><i>{{ .Params.Banner.title }}</i></h2>
  <h3>{{ .Params.Banner.subtitle }}</h3>

  <ul class="actions special">
    {{ range .Params.Banner.button }}
      <li><a href="{{ .url | relURL }}" class="button {{ .type }}">{{ .text }}</a></li>
    {{ end }}
  </ul>
</section>
