{{ if .Site.Params.Contact.text }}
	<p>{{ .Site.Params.Contact.text }}
	{{ if .Site.Params.Contact.phone }}
		<br />
		<a href="tel:{{ .Site.Params.Contact.phone }}" target="_blank" aria-label="{{.Site.Params.Contact.phone }}">
			<i class="icon fas fa-phone-alt">
				<span class="label">
					{{ .Site.Params.Contact.phone }}
				</span>
			</i>
			&nbsp;
			{{ .Site.Params.Contact.phone }}
		</a>
	{{ end }}
	{{ if .Site.Params.Contact.mail }}
		<br />
		<a href="mailto:{{ .Site.Params.Contact.mail }}" target="_blank" aria-label="{{.Site.Params.Contact.mail }}">
			<i class="icon fas fa-envelope">
				<span class="label">
					{{ .Site.Params.Contact.mail }}
				</span>
			</i>
			&nbsp;
			{{ .Site.Params.Contact.mail }}
		</a>
	{{ end }}
	</p>
{{ end}}
{{ if eq .Site.Params.Contact.service "netlify" }}
	<form name="contact" method="POST" action="{{ .Site.Params.Contact.confirm_page }}" netlify>
		<div class="row gtr-50 gtr-uniform">
			<div class="col-6 col-12-mobilep">
	    		<input type="text" name="name" aria-label="{{ i18n "nameLabel" }}" placeholder="{{ i18n "nameLabel" }}" required>
	  		</div>
			<div class="col-6 col-12-mobilep">
	    		<input type="email" name="email" aria-label="{{ i18n "emailLabel" }}" placeholder="{{i18n "emailLabel" }}" required>
	  		</div>
			<div class="col-12">
				<textarea name="message" aria-label="{{ i18n "messageLabel" }}" placeholder="{{ i18n "messageLabel" }}" rows="6" required></textarea>
			</div>
			<div class="col-12">
				<ul class="actions special">
	  				<li>
						<input type="submit" value="{{ i18n "sendLabel" }}" />
					</li>
				</ul>
			</div>
		</div>
	</form>
{{ else if eq .Site.Params.Contact.service "formspree" }}
	<form method="POST" action="https://formspree.io/f/{{ .Site.Params.Contact.formspree_formid }}">
		<div class="row gtr-50 gtr-uniform">
			<div class="col-6 col-12-mobilep">
				<input type="text" name="name" id="name" value="" aria-label="{{ i18n "nameLabel" }}" placeholder="{{ i18n "nameLabel" }}" required />
        <input type="text" name="_gotcha" style="display:none" />
			</div>
			<div class="col-6 col-12-mobilep">
				<input type="email" name="_replyto" id="email" value="" aria-label="{{ i18n "emailLabel" }}" placeholder="{{ i18n "emailLabel" }}" required />
			</div>
			<div class="col-12">
				<textarea name="message" id="message" aria-label="{{ i18n "messageLabel" }}" placeholder="{{ i18n "messageLabel" }}" rows="6" required></textarea>
			</div>
			<div class="col-12">
				<ul class="actions special">
					<li><input type="submit" value="{{ i18n "sendLabel" }}" /></li>
				</ul>
			</div>
		</div>
	</form>
{{ else if eq .Site.Params.Contact.service "php" }}
	<form name="contact" method="POST" action="/contact_mail.php" netlify>
		<div class="row gtr-50 gtr-uniform">
			<div class="col-6 col-12-mobilep">
				<input type="text" name="name" aria-label="{{ i18n "nameLabel" }}" placeholder="{{ i18n "nameLabel" }}" required>
			</div>
			<div class="col-6 col-12-mobilep">
				<input type="email" name="email" aria-label="{{ i18n "emailLabel" }}" placeholder = "{{ i18n "emailLabel" }}" required>
			</div>
			<div class="col-12">
				<textarea name="message" aria-label="{{ i18n "messageLabel" }}" placeholder="{{ i18n "messageLabel" }}" rows="6" required></textarea>
			</div>
			<div class="col-12">
				<ul class="actions special">
					<li>
						<input type="submit" value="{{ i18n "sendLabel" }}" name="send"/>
					</li>
				</ul>
			</div>
		</div>
	</form>
{{ end }}
