<section class="box">
  {{ if .Params.Directions.enable }}
    <header class="major">
      <a href="{{ .Params.Directions.top_link }}">
        <img src="{{ .Params.Directions.top_img }}" />
      </a>
    </header>
    {{ partial "map" . }}
 
  <div class="directions_inner">
    <div>
      <h3>{{ .Params.Directions.address_title }}</h3>
      <p>{{ .Params.Directions.address_content | safeHTML }}</p>
    </div>

    <div>
      <h3>{{ .Params.Directions.directions_title }}</h3>
      <ol>
        {{ range .Params.Directions.directions_content }}
          <li>{{ . }}</li>
        {{ end }}
      </ol>
    </div>
  </div>

  {{ end }}
</section>
