  <div class="box">
  {{ $pages := .Paginator.Pages }}
  {{ $len := (len $pages) }}
  {{ range $index, $key := $pages }}
    {{ if .Params.images }}
      <div class="row no-collapse 50% uniform">
        <div class="col-6 col-12-mobilep listBodyItem">
          <a href="{{ .Permalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
          {{ with .Params.subtitle }} | {{ . | markdownify }} | {{ end }}
          {{ with .Params.passage }} | {{ . | markdownify }} | {{ end }}
          <!-- <time class="date-meta">{{ .Date.Format "Jan 2, 2006" }}</time> -->
          <p>{{ .Summary | plainify | safeHTML }}</p>
          {{ if .Truncated }}
            <a class="button small alt" href="{{ .Permalink }}" >
                Read more <i class="fas fa-angle-double-right"></i>
            </a>
          {{ end }} {{/* if */}}
        </div>
        <div class="col-6 col-12-mobilep">
          <span class="image fit">
            <a href="{{ .Permalink }}">
              <img src="{{ index .Params.images 0 | absURL }}"></img>
            </a/>
          </span>
        </div>
    </div>
    {{ else }}
    <div class="listBodyItem">
      <a href="{{ .Permalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
      <!-- <time class="date-meta">({{ .Date.Format "Jan 2, 2006" }})</time> -->
      <p>{{ .Summary | plainify | safeHTML }}</p>
      {{ if .Truncated }}
        <a class="button small alt" href="{{ .Permalink }}" >
            Read more <i class="fas fa-angle-double-right"></i>
        </a>
      {{ end }} {{/* if */}}
    </div>
    {{ end }}{{/* if */}}
    {{ if lt (add $index 1) $len }}
      <hr />
    {{ end }}{{/* if */}}
  {{ end }} {{/* range */}}
  {{ template "_internal/pagination.html" . }}
  </div>
