<section class="box skinny special">
  <img src="{{ .Params.Poster.src }}" alt="{{ .Params.Poster.alt }}" />

  {{ if .Params.Announce.enable }}
    <header class="major">
      <h2>{{ .Params.Announce.title }}</h2>
      <h3>{{ .Params.Announce.subtitle }}</h3>
    </header>

    {{ if .Params.Announce.embed }}
      {{ .Params.Announce.embed | safeHTML }}
    {{ end }}
  {{ end }}
</section>
