<section class="box constrained">
  <div class="schedule">

  {{ range .Params.ScheduleList.days }}
    <h3 class="daytitle">{{ .title }}</h3>

    <table>
      <tbody>
        {{ range .events }}
        <tr class="{{ if .highlight }}highlight{{ end }}">
            <td>{{ .startTime }}</td>
            <td>{{ .endTime }}</td>
            {{ if eq .link "" }}
              <td>{{ .title }}</td>
            {{ else }}
              <td>
                <a href="{{ .link }}">{{ .title }}</a>
              </td>
            {{ end }}
          </tr>
        {{ end}}
      </tbody>
    </table>

  {{ end }}
  </div>
</section>
