{{ "<!-- Scripts -->" | safeHTML }}
{{ $js := .Site.Data.libs.js }}
{{ $jquery := resources.Get "js/jquery.min.js" | fingerprint }}
{{ $dropotron := resources.Get "js/jquery.dropotron.min.js" | fingerprint }}
{{ $scrollex := resources.Get "js/jquery.scrollex.min.js" | fingerprint }}
{{ $browser := resources.Get "js/browser.min.js" | fingerprint }}
{{ $breakpoints := resources.Get "js/breakpoints.min.js" | fingerprint }}
{{ $util := resources.Get "js/util.js" | minify | fingerprint }}
{{ $main := resources.Get "js/main.js" | minify | fingerprint }}
{{ "<!-- Scripts-HTML5up -->" | safeHTML }}
<script src="{{ $jquery.RelPermalink }}" integrity="{{ $jquery.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $dropotron.RelPermalink }}" integrity="{{ $dropotron.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $scrollex.RelPermalink }}" integrity="{{ $scrollex.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $browser.RelPermalink }}" integrity="{{ $browser.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $breakpoints.RelPermalink }}" integrity="{{ $breakpoints.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $util.RelPermalink }}" integrity="{{ $util.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}" crossorigin="anonymous"></script>
{{ "<!-- Scripts ALPHA-CHURCH-->" | safeHTML }}
{{ if .Site.GoogleAnalytics }}{{ template "_internal/google_analytics.html" . }}{{ end }}
</body>
</html>
