<section class="box">
  <header class="major">
    <h2>{{ .Params.Sponsors.title }}</h2>
    <h3>{{ .Params.Sponsors.subtitle }}</h3>
  </header>
  <div class="sponsors">
  {{ range .Params.Sponsors.images }}
    <div class="{{ if .large }}sponsor_large{{ end }}">
      {{ if eq .link "" }}
        <img class="sponsor_img" src="{{ .img }}" />
      {{ else }}
        <a class="plain" href="{{ .link }}">
          <img class="sponsor_img" src="{{ .img }}" />
        </a>
      {{ end }}
    </div>
  {{ end }}

  {{ if .Params.Sponsors.enablePartners }}
    <h2 style="margin-top: 2em; width: 100%; margin-bottom: 1em; text-align: center;">{{ .Params.Sponsors.partnerTitle }}</h2>

    {{ range .Params.Sponsors.partners }}
      <div>
        {{ if eq .link "" }}
          <img class="sponsor_img" src="{{ .img }}" />
        {{ else }}
          <a class="plain" href="{{ .link }}">
            <img class="sponsor_img" src="{{ .img }}" />
          </a>
        {{ end }}
      </div>
    {{ end }}   
  {{ end }}

  </div>
</section>
