<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

{{ partial "header" . }}
{{ partial "nav" . }}
{{ partial "banner" . }}

			{{ "<!-- Main -->" | safeHTML }}
				<section id="main" class="container">

          {{ if .Params.Poster.enable }}
            {{ partial "poster" . }}
          {{ end }}

          {{ if .Params.Bands.enable }}
            {{ partial "bands" . }}
          {{ end }}

          {{ if .Params.Sponsors.enable }}
            {{ partial "sponsors" . }}
          {{ end }}

          {{ if .Params.Directions.enable }}
            {{ partial "directions" . }}
          {{ end }}
          
				</section>

			{{ if .Params.CTA.enable }}
			{{ "<!-- CTA -->" | safeHTML }}
				<section id="cta"><a name="call-to-action"></a>

					{{ if .Params.CTA.heading }}<h2>{{ .Params.CTA.heading }}</h2>{{ end }}
					{{ if .Params.CTA.message }}<p>{{ .Params.CTA.message }}</p>{{ end }}
					{{ partial "contact" .}}

				</section>
			{{ end }} {{/* end if CTA*/}}

{{ partialCached "footer" . }}
{{ partial "scripts" . }}
